* {
  /* border: 1px solid red; */
  font-family: Verdana, sans-serif;
}

Body {
  margin: 0;
}

.Main {
  width: 100%;

  background-color: rgb(255, 245, 245); 
}

.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25vh;
  background-color: rgb(59, 52, 52);
  color: white;
}

.Headings {
  display: flex;
  justify-content: center; 
  width: 100%; 
}

.Name {
  font-weight: bold;
  font-size: 2.25em; 
}

.Heading-Link {
  font-size: medium;
  cursor: pointer;
  position: relative;
  padding: 0 10px; 
}

.Heading-Link::after {
  content: "|";
  position: absolute;
  right: -5px; 
  color: white; 
}

.Heading-Link:last-child::after {
  content: none;
}

.Body {
  width: 75%; 
  margin: 0 auto; 
}

.Heading {
  font-size: 32px;
  color: black;
  text-align: center;
  width: 60%; 
  margin: 0 auto; 
  position: relative;
}

.Heading::before,
.Heading::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  background-color: black;
  width: 25%
}

.Heading::before {
  left: -25%; 
}

.Heading::after {
  right: -25%; 
}
